<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/accaunt.css">
    <title>PowerZone - фитнес клуб</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <img src="../img/logo.svg" alt="logo">
                    <p>PowerZone</p>
                </div>
            </div>
        </div>
     </header>

     <!-- Main -->
     <main>
        <div class="container">
            <div class="main-content">
                <h1 class="main-content-title">Личный кабинет</h1>
                <div class="main-content-data-table">
                    <div class="main-content-columns">
                        <div class="left">
                            <p>ФИО</p>
                            <p>Email</p>
                            <p>Телефон</p>
                            <p>Следующая тренировка</p>
                            <p>Запись подтверждена?</p>
                        </div>
                        <div class="right">
                            <p>Иван Иванов</p>
                            <p>ivanov@example.com</p>
                            <p>+7 (123) 456-78-90</p>
                            <p>10:00 20.03.2026 "Восстановительная йога" в зале 1 (Иван Иванов)</p>
                            <p><button class="main-content-data-table-button">Подтвердить</button></p>
                        </div>
                    </div>
                    <div class="main-content-buttons">
                        <button class="main-content-button-schedule">Расписание тренировок</button>
                        <button class="main-content-button-logout">Выйти</button>
                    </div>
                </div>
            </div>
        </div>
     </main>

     <!-- Footer -->

     <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Расписание</a></li>
                        <li><a href="#">Тренеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="main-content-contacts-info">
                    <ul>
                        <li>Адрес: г. Красноярск ул. Хххххх, д. 1</li>
                        <li>Телефон: +7900ХХХХХХХ</li>
                        <li>Электронная почта: powerzone@email.com</li>
                    </ul>
                </div>
                <div class="footer-social-right">
                    <div class="footer-social">
                        <a href="#" class="inst"><img src="../img/inst.svg" alt="inst"></a>
                        <a href="#" class="tg"><img src="../img/tg.svg" alt="tg"></a>
                    </div>
                    <div class="footer-right"><p>©PowerZone</p></div>
                </div>
        </div>
    </footer>
</body>
</html>