<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/schedule.css">
    <title>PowerZone - фитнес клуб</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <img src="../img/logo.svg" alt="logo">
                    <p>PowerZone</p>
                </div>
                <div class="header-menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Расписание</a></li>
                        <li><a href="#">Тренеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="header-buttons">
                    <div class="header-button-login">
                        <a href="#">Записаться</a>
                    </div>
                    <!-- <button class="header-button-register">Регистрация</button> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Main -->

    <main>
        <div class="container">
            <div class="main-inner">
                <div class="main-content">
                    <h1 class="main-content-title">Расписание тренировок</h1>
                    <div class="main-content-schedule-filter-buttons">
                        <button class="main-content-schedule-filter-button">Все</button>
                        <button class="main-content-schedule-filter-button">Силовые</button>
                        <button class="main-content-schedule-filter-button">Кардио</button>
                        <button class="main-content-schedule-filter-button">Йога</button>
                        <button class="main-content-schedule-filter-button">Групповые</button>
                    </div>
                    <div class="main-content-schedule-table">
                        <table>
                            <tr>
                                <th>Время</th>
                                <th>Направление</th>
                                <th>Тренер</th>
                                <th>Зал</th>
                                <th>Свободные места</th>
                                <th>Действие</th>
                            </tr>
                            <tr>
                                <td>10:00</td>
                                <td>Силовые</td>
                                <td>Иван Иванов</td>
                                <td>Зал 1</td>
                                <td>10</td>
                                <td><button class="main-content-schedule-table-button">Записаться</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="main-content-schedule-pagination">
                        <button class="main-content-schedule-pagination-button">Назад</button>
                        <button class="main-content-schedule-pagination-button">Вперед</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Расписание</a></li>
                        <li><a href="#">Тренеры</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="main-content-contacts-info">
                    <p>Адрес: г. Красноярск ул. Хххххх, д. 1</p>
                    <p>Телефон: +7900ХХХХХХХ</p>
                    <p>Электронная почта: powerzone@email.com</p>
                </div>
                <div class="footer-social-right">
                    <div class="footer-social">
                        <a href="#" class="inst"><img src="../img/inst.svg" alt="inst"></a>
                        <a href="#" class="tg"><img src="../img/tg.svg" alt="tg"></a>
                    </div>
                    <div class="footer-right"><p>©PowerZone</p></div>
                </div>
        </div>
    </footer>
</body>
</html>